@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  background-color: #53ba8357;
  padding: 7px;
  border-radius: 7px;
}

.custom-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.font-primary {
  font-family: 'Montserrat', sans-serif;
}

.font-secondary {
  font-family: 'Open Sans', sans-serif;
}

.bg-tertiary {
  background-color: #53ba83;
}

.bg-fourth {
  background-color: #f8f1e9;
}

.bg-fifth {
  background-color: #095169ab;
}